{% set collapseClass = 'password-collapse' %}
<form
    method="post"
    class="account-editor"
    data-request="onChangePassword"
    data-request-update="{ _self: true }"
    data-request-flash>

    <div class="section-title border-bottom d-flex">
        <h5 class="h4 flex-grow-1">Password</h5>
        <button
            type="button"
            class="btn btn-outline-secondary btn-sm"
            data-bs-toggle="collapse"
            data-bs-target=".{{ collapseClass }}">
            Edit
        </button>
    </div>

    <div class="editor-view collapse show {{ collapseClass }}">
        <div class="d-flex">
            <label class="text-success flex-grow-1">Your password</label>
            <div class="field-value">
                ********
            </div>
        </div>
    </div>

    <div class="editor-edit collapse {{ collapseClass }}">
        <div class="row">
            <div class="col-12 mb-2">
                <label for="inputCurrentPassword" class="form-label">Current password</label>
                <input
                    name="current_password"
                    type="password"
                    value=""
                    class="form-control"
                    id="inputCurrentPassword"
                />
            </div>
            <div class="col-12 mb-2">
                <label for="inputCurrentPassword" class="form-label">Create a new password</label>
                <input
                    name="password"
                    type="password"
                    value=""
                    class="form-control"
                />
            </div>
            <div class="col-12 mb-2">
                <label for="inputPasswordConfirmation" class="form-label">Confirm new password</label>
                <input
                    name="password_confirmation"
                    type="password"
                    value=""
                    class="form-control"
                    id="inputPasswordConfirmation"
                />
            </div>
        </div>
        <div class="section-actions">
            <button
                class="btn btn-primary"
                data-attach-loading
                type="submit">
                Save
            </button>
            <button
                class="btn btn-link"
                data-bs-toggle="collapse"
                data-bs-target=".{{ collapseClass }}"
                type="reset">
                Cancel
            </button>
        </div>
    </div>
</form>
