<div class="account-editor">
    <div class="section-title border-bottom d-flex">
        <h5 class="h4 flex-grow-1">Delete account</h5>
        <button
            type="button"
            class="btn btn-outline-danger btn-sm"
            data-request="onAjax"
            data-request-update="{ 'account/popup-account-delete': '#siteModalContent' }"
            data-bs-toggle="modal"
            data-bs-target="#siteModal">
            Delete
        </button>
    </div>

    <div class="editor-view">
        <p>Your account will be deleted and your details removed from the site.</p>
    </div>
</div>
