.page-account {
    .form-login {
        padding: 1rem;
        max-width: 400px;
    }

    .section-title {
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        > h5 {
            margin-bottom: 0;
            margin-top: 0.25rem;
        }
    }

    .section-actions {
        padding-top: 0.5rem;
    }

    .account-editor {
        .editor-edit {
            padding-top: 0.25rem;
        }
    }

    .account-devices {
        .device-item {
            font-size: .875rem;
            padding: 0.5rem 0;

            .device-agent-icon {
                width: 2rem;
                height: 2rem;
                > i {
                    position: relative;
                    font-size: 2rem;
                    top: -0.5rem;
                }
            }

            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}
