body .control-user-notifications .notifications-popover {
    position: fixed;
    right: 1rem;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
}

@media only screen and (max-width: 600px) {
    body .control-user-notifications .notifications-popover {
        right: 0;
    }
}

.mini-notifications {
    .badge {
        opacity: 0;
    }
    &.has-unread .badge {
        opacity: 1;
    }
}
