{% set categories = blogCategories.categories %}
{% set currentCategorySlug = blogCategories.currentCategorySlug %}

<ul class="list-group">
    {% for category in categories %}
        {% set postCount = category.post_count %}
        <li class="list-group-item {{ category.slug == currentCategorySlug ? 'active' }}">
            <a href="{{ category.url }}">{{ category.name }}</a> 
            {% if postCount %}
                <span class="badge">{{ postCount }}</span>
            {% endif %}
        </li>
    {% endfor %}
</ul>